/*.dataTable {
    display: block;
    width: 50%;
    margin: 1em 0;
  }
  
  .dataTable thead, .dataTable tbody, .dataTable thead tr, .dataTable th {
    display: block;
  }
  
  .dataTable thead {
    float: left;
  }
  
  .dataTable tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  
  .dataTable td, .dataTable th {
    padding: .400em;
    line-height: 1.5em;
    border-bottom: 10px  #b1fa07;;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .dataTable th {
    text-align: center;
    background: #1c1c1c;
    border-bottom: 10px #b1fa07;
  }
  .dataTable td {
    align-items: center;
    width:20px;
  }
  
  .dataTable tbody tr {
    display: table-cell;
  }
  
  .dataTable tbody td {
    display: block;
  }
  
  .dataTable tr:nth-child(odd) {
      background: rgba(0, 0, 0, 0.07);
  }
  
  @media screen and (min-width: 50em) {
  
    .dataTable {
      display: table;
    }
    
    .dataTable thead {
      display: table-header-group;
      float: none;
    }
    
    .dataTable tbody {
      display: table-row-group;
    }
    
    .dataTable thead tr, .dataTable tbody tr {
      display: table-row;
    }
    
    .dataTable th, .dataTable tbody td {
      display: table-cell;
    }
    
    .dataTable td, .dataTable th {
      width: auto;
    }
    
  }

  
  .bouton {
    background: #b1fa07;
    border-radius: 3px;
    color: #1c1c1c;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 25px;
    margin-left: 150px;
  }
  
  .bouton:hover {
    background: white;
    color: #1c1c1c !important;
  }

  .col1{
    color:white;
  }

  .ordonnance{
    margin-top: 100px;
  }
 
input {
  background: white;
  border: 0;
  border-left: 4px solid;
  border-color:  #b1fa07;
  color:#1c1c1c;
  outline: 0;
  border-radius: 1.2rem;
}
input:hover {
    background: #1c1c1c;
    border: 0;
    border-left: 4px solid;
    border-color:  #b1fa07;
    color:white;
    outline: 0;
    border-radius: 1.2rem;
  }

  .imgmed{
    width: 100px;
    height: 80px;
  }


  .bouton2 {
    background: white;
    border-radius: 15px;
    color: #1c1c1c;
    font-weight: 500;
    font-size: 30;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-left: 150px;
  }
  
  .bouton2:hover {
    background: #b1fa07;
    color: #1c1c1c !important;
  }


  .med{
    background-color: rgba(0,0,0,.60)!important;;
  }*/


  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;700&display=swap');
  *{
      font-family: 'Ubuntu', sans-serif;
  
  }
  
  .imgmed{
      width: 100px;
      height: 80px;
    }
  table {
  /*   border: 1px solid #ccc; */
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    table-layout: fixed;
  }
  
  table caption {
      font-family: 'Ubuntu', sans-serif;
    font-size: 55px;
    font-weight:700;
    color:#00000090;
    padding: 15px;
  }
  
  table tr {
    background-color: #ffffff90;
    border: 1px solid #ddd;
    padding: 10px;
  }
  .thead{
    background-color: rgba(0, 0, 0, 0.5);;
    color:#fff;
  }
  
  table th,
  table td {
    padding: 20px;
    text-align: center;
  }
  
  table th {
    font-size: 20px;
    letter-spacing: .1em;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    .thead{
    background-color: rgb(67 56 202);
    color:#fff;
  }
  
    table caption {
    font-size: 35px;
    font-weight:700;
    color:#00000090;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }