.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
    margin-right: 50px;
  }
  
  .SEARCHcontainer {
	padding: 3rem;
	width: 400px;
    margin-bottom: 20px;
  }
  
  input[type="search"] {
	-webkit-appearance: none !important;
	background-clip: padding-box;
	background-color: white;
	vertical-align: middle;
	border-radius: 0.25rem;
	border: 2px solid #1c1c1c;
	font-size: 1rem;
	width: 100%;
	line-height: 2;
	padding: 0.375rem 1.25rem;
	-webkit-transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	transition: border-color 0.2s;
  }
  
  input[type="search"]:focus {
	transition: all 0.5s;
	box-shadow: 0 0 40px #b1fa07;
	border-color: #1c1c1c;
	outline: none;
  }
  
  form.search-form {
	display: flex;
	justify-content: center;
  }
  
  label {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: center;
	margin-bottom: 0;
  }
  
  input.search-field {
	margin-bottom: 0;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	align-self: center;
	height: 51px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  
  input.search-submit {
	height: 51px;
	margin: 0;
	padding: 1rem 1.3rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	font-family: "Font Awesome 5 Free";
	font-size: 1rem;
  }
  
  .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
  }
  
  .button {
    background: #b1fa07;
    border-radius: 3px;
    color: #1c1c1c;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
   
  }
  
  .button:hover,
  .button:active,
  .button:focus {
	cursor: pointer;
	background: #1c1c1c;
	color: #b1fa07;
	outline: 0;
  }
