/*

Template 2098 Health

http://www.tooplate.com/view/2098-health

*/
.tm-logout-icon {
  font-size: 1.5em;
}

.tm-bg-black {
  background-color: rgba(0, 0, 0, 0.252);
}

.tm-mt-big {
  margin-top: 70px;
}

.tm-mt-small {
  margin-top: 20px;
}

.tm-block {
  padding: 50px 45px;
}

.tm-block-title {
  font-size: 1.4rem;
  color: rgb(19, 19, 19);
  margin-bottom: 30px;
}
.tm-content-row {
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px; /* To offset col padding */
}

.tm-col {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.tm-col-big {
  width: 39%;
}

.tm-col-small {
  width: 21.95%;
}

.tm-link-black {
  color: black;
}

.tm-link-black:hover,
.tm-link-black:focus {
  color:#075cfa
}

ol {
  margin-bottom: 0;
}

.tm-list-group {
  counter-reset: myOrderedListItemsCounter;
  padding-left: 0;
}

.tm-list-group > li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px;
  color:white;
}

.tm-list-group-pad-big > li {
  padding: 20px;
}

.tm-list-group > li:hover {
  color:#b1fa07;
}

.tm-list-group-alternate-color > li:nth-child(odd) {
  background-color:#1c1c1c;
  color: #b1fa07;
}

.tm-list-group > li:before {
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter) ".";
  margin-right: 0.5em;
}

.tm-list {
  padding-left: 30px;
}

.tm-list > li {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 23px;
  padding: 19px 18px;
  border-radius: 0;
  height: 50px;
}

label {
  margin-bottom: 18px;
}

.btn {
  border-radius: 0;
  padding: 13px 28px;
  transition: all 0.2s ease;
  max-width: 100%;
  color: #000000;
}
#mis{
  color: #b1fa07;
  background-color: #252525;
}
.misVehicule{
  color: #b1fa07;
  background-color: #252525;
}
.misTrajet{
  color: #b1fa07;
  background-color: #252525;
}
.btn-small {
  padding: 10px 24px;
}

.btn-primary {
  background-color: transparent;
  color: rgb(9, 9, 9);
  border-color: #999999;
  padding: 13px 28px;
}
#for{
  background-color:#393939;
  color: white;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: #cdd4da;
  border-color: #999999;
}
.btn-danger {
  color: #9f1321;
  background-color: transparent;
  border-color: #9f1321;
}

.btn-danger:hover {
  color: #9f1321;
  background-color: rgba(159, 19, 32, 0.27);
  border-color: #9f1321;
}

.custom-file-input {
  cursor: pointer;
}

.custom-file-label {
  border-radius: 0;
}

.tm-btn-right {
  text-align: right;
}

.table td,
.table th {
  padding: 20px 24px;
}

.table-hover tbody tr:hover {
  background-color: white;
  color: #3aabd0;
}

.tm-bg-gray {
  background-color: rgba(0, 0, 0, 0.05);
}

.tm-table-striped-even.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.tm-table-striped-even.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(192, 191, 191);
}

.tm-table-mt {
  margin-top: 66px;
}

.tm-pagination {
  justify-content: flex-end;
}

.tm-pagination-label {
  padding-bottom: 15px;
  padding-right: 15px;
  display: inline-block;
}
#fileInput{
width: 24px;
height: 24px;}

.tm-table-actions-row {
  display: flex;
  justify-content: space-between;
}

.tm-table-actions-col-right {
  text-align: right;
}
option , #etat{
  color: #b1fa07;
  background-color: #252525;
}
input[type="text"]{
  color: #b1fa07;
  background-color: #252525;
}
input[type="password"]{
  color: #b1fa07;
  background-color: #252525;
}
input[type="number"]{
  color: #b1fa07;
  background-color: #252525;
}

input[type="tel"]{
  color: #b1fa07;
  background-color: #252525;
}

input[type="checkbox"]:checked {
  background-color: #699f13;
}
input[type="checkbox"]:focus {
  outline: 0 none;
  box-shadow: none;
}

.tm-trash-icon {
  color: #6e6c6c;
  cursor: pointer;
}

.tm-trash-icon:hover {
  color: #9f1321;
}

.tm-trash-icon-cell {
  width: 15px;
}

footer {
  margin-bottom: 35px;
}

.custom-select {
  height: 50px;
  border-radius: 0;
}
.tm-btn-right {
  text-align: left;
  margin-top: 20px;
}

.tm-product-img-dummy {
  max-width: 100%;
  width: 240px;
  height: 240px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c8c8c8;
}

.tm-login-col {
  max-width: 600px;
}

/*--------------------------------------------
-----------------------*/
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

  body {
    background-color: var(--white-color);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }



  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/
  .imglogo {
    height: 100px;
    width: 200px;
    position: relative; /* This is necessary to use the top property */
    top: -20px;
    right: 20px;
    margin-top: 25px;
    
  }
  

  h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    line-height: inherit;
  }

  h1,h2,h3,h4 {
    letter-spacing: -1px;
  }

  h5 {
    font-weight: 500;
  }

  h1 {
    color: #252525;
    font-size: 5em;
  }
  #mod{
    color:#b1fa07;
  }

  h2 {
    color: #272727;
    font-size: 3em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 0;
    color: white;
  }

  h4 {
    color: #454545;
    font-size: 1.8em;
    padding-bottom: 2px;
  }

  h6 {
    letter-spacing: 0;
    font-weight: normal;
  }

  p {
    color: #393939;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }
#nom{
  color:#b1fa07;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: white;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: #b1fa07;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 20px;
  }

  .section-title h2 {
    margin-top: 0;
  }

  .section-btn {
    background: #b1fa07;
    border: 0;
    border-radius: 3px;
    color: #ffffff;
    font-size: inherit;
    font-weight: 500;
    padding: 14px 20px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .section-btn:hover {
    transform: translateY(-5px);
  }

  .text-align-right {
    text-align: right;
  }

  .text-align-center {
    text-align: center;
  }

  .border-top {
    border-top: 1px solid #f2f2f2;
    margin-top: 4em;
    padding-top: 2.5em;
  }
  #pp{
    color: white;
  }

  .btn-gray {
    background: #393939;
  }

  .btn-blue {
    background: #b1fa07;
  }

  .news-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  .news-thumb img {
    border-radius: 10px 10px 0 0;
  }

  .news-info {
    padding: 30px;
    text-align: left;
    background-color: #222;
  }
  .news-info span {
    display: block;
    letter-spacing: 0.5px;
  }
  .news-info h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .author {
    border-top: 1px solid #f0f0f0;
    padding-top: 1.5em;
    margin-top: 2em;
  }
  .author img,
  .author .author-info {
    display: inline-block;
    vertical-align: top;
  }
  .author-info h5 {
    margin-bottom: 0;
  }
  .author img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }


  #about, #team, #news,
  #news-detail {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #news, #service {
    text-align: center;
  }

  #google-map {
    line-height: 0;
    margin: 0;
    padding: 0;
  }


  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  header {
    background: #ffffff;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    height: 45px;
  }

  header .col-md-8 {
    padding-right: 0;
  }

  header p,
  header span {
    font-size: 12px;
    line-height: 24px;
    padding-top: 12px;
  }

  header a,
  header span {
    color: #747474;
  }

  header span {
    font-weight: 500;
    display: inline-block;
    padding: 11px 15px;
  }

  header span.date-icon {
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
    padding-right: 19px;
    padding-left: 19px;
  }

  header span i {
    color: #b1fa07;
    margin-right: 5px;
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/

  .navbar-default {
    background: #1c1c1c;
    box-shadow: 0 2px 8px rgba(0,0,0,.075);
    border: none;
    margin-bottom: 0;
    padding: 2px;
  }

  .navbar-default .navbar-brand {
    color: #393939;
    font-weight: 500;
  }

  .navbar-default .navbar-brand .fa {
    color: #b1fa07;
  }

  .navbar-default .navbar-nav li.appointment-btn {
    margin: 3px 0 0 20px;
  }

  .navbar-default .navbar-nav li.appointment-btn a {
    background: #b1fa07;
    border-radius: 3px;
    color: #1c1c1c;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 25px;
  }

  .navbar-default .navbar-nav li.appointment-btn a:hover {
    background: white;
    color: #1c1c1c !important;
  }

  .navbar-default .navbar-nav li a {
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin-top: 25px;
  }

  .navbar-default .navbar-nav > li a:hover {
    color: #b1fa07 !important;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #1c1c1c ;
    background-color: transparent;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: white ;
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background: white;
    border-color: transparent;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus { 
    background-color: transparent;
  }



  /*---------------------------------------
      HOME              
  -----------------------------------------*/

  #home h1 {
    color: #ffffff;
    padding-bottom: 10px;
    margin-top: 0;
  }

  #home h3 {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: inherit;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
  }

  .slider .container {
    width: 100%;
  }

  .slider .owl-dots {
      position: absolute;
      top: 575px;
      width: 100%;
      justify-content: center;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 7px;
    border: 2px solid #d9d9d9;
    background: transparent;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: #1c1c1c;
    border-color: transparent;
  }

  .slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .slider .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }

  .slider .item-first {
    background-image: url(https://img.freepik.com/photos-gratuite/couple-metis-mecontent-se-recule-souleve-halteres-lourds-se-sent-fatigue-apres-entrainement-sportif-actif-dans-salle-sport-utilise-karemat_273609-27605.jpg?w=1060&t=st=1699740804~exp=1699741404~hmac=970370d463bda044fa791c73676c59e4191eba37baeeeac82854a1aa8d769278);
  }

  .slider .item-second {
    background-image: url(https://img.freepik.com/photos-gratuite/asiatique-jeune-groupe-principal-hopital-professionnel_1291-37.jpg?w=996&t=st=1699740859~exp=1699741459~hmac=a2a700ddfa202a761b22b0e60dc80859206e813281f1e1dfeed13d30e5fbe1d5);

  }

  .slider .item-third {
    background-image: url(https://img.freepik.com/photos-gratuite/beau-bureau-spacieux-dentiste_8353-9976.jpg?w=1060&t=st=1699740888~exp=1699741488~hmac=247d7e960953b75f2fe34ade628d5b85680d73fc90195426e860b7b88b628f3d);
  }


  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/

  #about {
    background: url("C:\Users\1cyri\OneDrive\Bureau\projet\front\2098_health\images\about-bg1.jpg") no-repeat top center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  #acc{
    color: #1c1c1c;
  }
  #acc1{
    color: #1c1c1c;
    font-size: 20px;
  }

  .profile img,
  .profile figcaption {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
  }
  .profile img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
    margin-right: 1em;
  }
  .profile figcaption h3 {
    margin-top: 0;
  }

  #about h6 {
    color: #858585;
    margin: 0;
  }



  /*---------------------------------------
      TEAM MEMBERS              
  -----------------------------------------*/

  .team-thumb {
    background-color: #1c1c1c;
    border-radius: 0 0 10px 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .team-info {
    padding: 20px 30px 0 30px;
  }

  .team-contact-info {
    border-top: 1px solid #e9e9e9;
    padding-top: 1.2em;
    margin-top: 1.5em;
  }

  .team-contact-info .fa {
    margin-right: 5px;
    display: inline-block;
  }

  .team-contact-info p {
    margin-bottom: 2px;
  }

  .team-contact-info a {
    color: #fdfdfd;
  }

  .team-thumb .social-icon li {
    font-weight: 500;
  }

  .team-thumb .social-icon li a {
    background: #ffffff;
    border-radius: 100%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 2px 0 2px;
  }

  .team-thumb .social-icon {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.5s 0.2s;
    text-align: center;
    position: relative;
    top: 0;
  }

  .team-thumb:hover .social-icon {
    opacity: 1;
    transition-delay: 0.3s;
    transform: translateY(0px);
    top: -22em;
  }



  /*---------------------------------------
     SERVICE              
  -----------------------------------------*/

  #service {
    background: #b1fa07;
  }

  #service h2,
  #service h4 {
    color: #ffffff;
  }

  #service p {
    color: #d9d9d9;
  }

  #service .service-thumb {
    padding: 0 22px;
  }

  #service .fa {
    font-size: 50px;
    margin-bottom: 10px;
    background: #ffffff;
    color: #b1fa07;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 100%;
  }


  /*---------------------------------------
      NEWS             
  -----------------------------------------*/

  #news, #news-detail {
    background: #f9f9f9;
  }

  #news-detail blockquote {
    margin: 30px 0;
  }

  .news-detail-thumb .news-image img {
    border-radius: 10px;
  }

  .news-detail-thumb h3 {
    margin-bottom: 8px;
  }

  .news-image {
    margin-bottom: 30px;
    position: relative;
  }

  .news-image img {
    width: 100%;
  }

  .news-detail-thumb ul {
    margin: 32px 12px 22px 0px;
  }

  .news-detail-thumb ul li {
    list-style: circle;
    font-weight: normal;
    padding: 6px 12px 6px 0px;
  }

  .news-sidebar {
    margin-top: 16px;
  }

  .news-social-share {
    text-align: center;
    padding-top: 22px;
  }

  .news-social-share .btn {
    border-radius: 100px;
    border: none;
    font-size: 10px;
    font-weight: 600;
    margin: 2px 6px;
    padding: 8px 14px;
  }

  .news-social-share .btn-primary {
    background: #3b5998;
  }

  .news-social-share .btn-success {
    background: #1da1f2;
  }

  .news-social-share .btn-danger {
    background: #dd4b39;
  }

  .news-social-share a .fa {
    padding-right: 4px;
  }

  .recent-post {
    padding-top: 2px;
    padding-bottom: 18px;
  }

  .recent-post .media img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-right: 5px;
  }

  .recent-post .media-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: inherit;
    margin-top: 5px;
  }

  .news-categories {
    margin-top: 8px;
  }

  .news-categories li a {
    color: #2b2b2b;
  }

  .news-ads {
    background: #ffffff;
    border-right: 4px solid #2b2b2b;
    padding: 42px;
    text-align: center;
    margin: 26px 0 26px 0;
  }

  .news-ads.sidebar-ads {
    border-left: 4px solid #2b2b2b;
    border-right: 0px;
  }

  .news-ads h4 {
    font-size: 18px;
  }

  .news-tags h4 {
    padding-bottom: 6px;
  }

  .news-categories li,
  .news-tags li {
    list-style: none;
    display: inline-block;
    margin: 4px;
  }

  .news-tags li a {
    background: #393939;
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    float: left;
    min-width: 30px;
    padding: 6px 12px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .news-tags li a:hover {
    background: #b1fa07;



  }



  /*---------------------------------------
      APPOINTMENT             
  -----------------------------------------*/

  #appointment {
    padding-top: 100px;
  }

  #appointment label {
    color: #393939;
    font-weight: 500;
  }
input{
  height: 5px;
  width: 20px;
}
  #appointment .form-control {
    background: rgba(0,0,1,.075);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
  }

  #appointment input,
  #appointment select {
    height: 45px;
  }
  select{
    color: #000000;
  }
  #appointment button#cf-submit {
    background: #b1fa07;
    color: #1c1c1c;
    font-weight: 600;
    height: 55px;
  }

  #appointment button#cf-submit:hover {
    background: #393939;
    color: #ffffff;
  }


  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  footer h4 {
    padding-bottom: 5px;
  }

  footer a {
    color: #757575;
  }

  footer a:hover {
    color: #b1fa07;
  }

  .contact-info {
    padding-top: 10px;
  }

  .contact-info .fa {
    background: #393939;
    border-radius: 100%;
    color: #ffffff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  .latest-stories {
    margin-bottom: 20px;
  }

  .stories-image,
  .stories-info {
    display: inline-block;
    vertical-align: top;
  }

  .stories-image img {
    border-radius: 100%;
    width: 65px;
    height: 65px;
  }

  .stories-info {
    margin-left: 15px;
  }

  .stories-info h5 {
    margin-bottom: 2px;
  }

  .stories-info span {
    color: #858585;
    font-size: 12px;
  }

  .opening-hours p {
    line-height: 18px;
  }

  .opening-hours span {
    font-weight: 500;
    display: inline-block;
    padding-left: 10px;
  }

  .copyright-text p,
  .footer-link a {
    color: #858585;
    font-size: 12px;
    font-weight: 500;
  }

  .footer-link a {
    font-size: 12px;
    display: inline-block;
    padding: 0 10px;
    margin-top: 4px;
  }

  .angle-up-btn {
    position: relative;
    bottom: 4em;
    display: block;
  }

  .angle-up-btn a {
    background: #ffffff;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    font-size: 20px;
    color: #393939;
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 38px;
    transition: transform 0.1s ease-in;
    transform: translateX(0);
  }

  .angle-up-btn a:hover {
    background: #b1fa07;
    color: #ffffff;
    transform: translateY(-5px);
  }


  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #464646;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: #b1fa07;
    color: #ffffff;
  }


  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }

    header {
      height: inherit;
    }
    header span.date-icon {
      border: 0;
      padding-right: 0;
      padding-left: 0;
    }
    header span.email-icon {
      padding-top: 0;
    }

    .navbar-default .navbar-nav li a {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media only screen and (max-width: 992px) {
    .slider .item {
      background-position: center;
    }

    header {
      padding-bottom: 10px;
    }
    header .text-align-right {
      text-align: left;
    }
    header span {
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: transparent;
    }
    .navbar-default .navbar-nav li.appointment-btn {
      margin-left: 20px;
    }
    .navbar-default .navbar-nav li a {
      display: inline-block;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .news-sidebar {
      margin-top: 2em;
    }

    #appointment-form {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    footer {
      padding-top: 60px;
      padding-bottom: 0;
    }
    .footer-thumb {
      padding-bottom: 10px;
    }

    .border-top {
      text-align: center;
    }

    .copyright-text {
      margin-top: 10px;
    }

    .angle-up-btn {
      bottom: 10em;
    }
  }

  @media only screen and (max-width: 639px) {
    h1 {
      font-size: 3em;
      line-height: 1.2em;
    }
    h2 {
      font-size: 2.1em;
    }
    h4 {
      font-size: 1.4em;
    }

    #home h3 {
      font-size: 11px;
      letter-spacing: 1px;
    }
    
    
    .styleTable{
      color:white;
      border-color: white !important;
    }
    

  }

