
@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-Regular.woff2') format('woff2'),
      url('../fonts/Metropolis/Metropolis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-Light.woff2') format('woff2'),
      url('../fonts/Metropolis/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-SemiBold.woff2') format('woff2'),
      url('../fonts/Metropolis/Metropolis-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis/Metropolis-Bold.woff2') format('woff2'),
      url('../fonts/Metropolis/Metropolis-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*---------------------------------------
CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
--white-color:                  #ffffff;
--primary-color:                #1c1c1c;
--secondary-color:              #5a6f80;
--section-bg-color:             #f0f8ff;
--site-footer-bg-color:         #44525d;
--custom-btn-bg-color:          #597081;
--custom-btn-bg-hover-color:    #b1fa07;
--dark-color:                   #000000;
--p-color:                      #717275;
--border-color:                 white;

--body-font-family:             'Metropolis', sans-serif;

--h1-font-size:                 52px;
--h2-font-size:                 46px;
--h3-font-size:                 32px;
--h4-font-size:                 28px;
--h5-font-size:                 24px;
--h6-font-size:                 22px;
--p-font-size:                  16px;
--btn-font-size:                18px;
--copyright-font-size:          14px;

--border-radius-large:          100px;
--border-radius-medium:         20px;
--border-radius-small:          10px;

--font-weight-light:            300;
--font-weight-normal:           400;
--font-weight-semibold:         600;
--font-weight-bold:             700;
}


h2,
h3,
h4,
h5,
h6 {
color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: var(--font-weight-semibold);
letter-spacing: -1px;
}

h1 {
font-size: var(--h1-font-size);
font-weight: var(--font-weight-bold);
letter-spacing: -2px;
}

h2 {
color: var(--secondary-color);
font-size: var(--h2-font-size);
letter-spacing: -2px;
}

h3 {
font-size: var(--h3-font-size);
}

h4 {
font-size: var(--h4-font-size);
}

h5 {
color: var(--primary-color);
font-size: var(--h5-font-size);
}

h6 {
font-size: var(--h6-font-size);
}

p {
color: var(--p-color);
font-size: var(--p-font-size);
font-weight: var(--font-weight-light);
}

ul li {
color: var(--p-color);
font-size: var(--p-font-size);
font-weight: var(--font-weight-normal);
}

a, 
button {
touch-action: manipulation;
transition: all 0.3s;
}

a {
color: var(--p-color);
text-decoration: none;
}

a:hover {
color: var(--primary-color);
}

/*---------------------------------------
HERO & HERO SLIDE         
-----------------------------------------*/
.hero-section-full-height {
height: 680px;
min-height: 680px;
position: relative;
}

.carousel:hover .carousel-control-next-icon, 
.carousel:hover .carousel-control-prev-icon {
opacity: 1;
}

#hero-slide .carousel-item {
height: 680px;
min-height: 680px;
}

#hero-slide .carousel-caption {
background: var(--white-color);
clip-path: polygon(100% 100%, 100% 150px, 0 100%);
color: var(--secondary-color);
top: 1px;
bottom: -1px;
right: 0;
left: auto;
text-align: right;
min-width: 680px;
min-height: 680px;
padding: 100px 100px 50px 100px;
}

.carousel-image {
display: block;
width: 100%;
min-height: 680px;
}

#hero-slide .carousel-indicators-wrap {
position: absolute;
bottom: 0;
right: 0;
left: 0;
}

#hero-slide .carousel-indicators {
margin-right: 0;
margin-left: 22px;
justify-content: inherit;
}

.carousel-control-next, 
.carousel-control-prev {
opacity: 1;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
background-color: var(--secondary-color);
border-radius: var(--border-radius-large);
background-size: 60% 60%;
width: 80px;
height: 80px;
opacity: 0;
transition: all 0.5s;
}

.carousel-control-next-icon:hover, 
.carousel-control-prev-icon:hover {
background-color: var(--primary-color);
}


/*---------------------------------------
FEATURE BLOCK              
-----------------------------------------*/
.featured-block {
text-align: center;
transition: all 0.5s ease;
min-height: 256px;
padding: 15px;
}

.featured-block:hover {
background: var(--white-color);
border-radius: var(--border-radius-medium);
box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.featured-block:hover .featured-block-image {
transform: scale(0.75);
}

.featured-block-image {
display: block;
margin: auto;
transition: all 0.5s;
}

.featured-block:hover .featured-block-text {
margin-top: 0;
}

.featured-block-text {
color: var(--primary-color);
font-size: var(--h5-font-size);
margin-top: 20px;
transition: all 0.5s;
}


/*---------------------------------------
RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
.featured-block {
  min-height: inherit;
}

.volunteer-section::after {
  width: 450px;
  height: 450px;
}

.volunteer-image {
  width: 350px;
  height: 350px;
}
}

@media screen and (max-width: 1170px) {
#hero-slide .carousel-image {
  height: 100%;
  object-fit: cover;
}
}

@media screen and (max-width: 991px) {
h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.section-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero-form {
  padding-bottom: 40px;
}

.donate-form {
  padding: 35px;
}

.navbar {
  padding-top: 6px;
  padding-bottom: 6px;
}

.navbar-expand-lg .navbar-nav {
  padding-bottom: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 8px 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
  left: 20px;
}

.site-header .social-icon {
  text-align: left;
  margin-top: 5px;
}

.hero-section-full-height {
  height: inherit;
}

.carousel:hover .carousel-control-next-icon, 
.carousel:hover .carousel-control-prev-icon {
  opacity: 1;
}

#hero-slide .carousel-item {
  height: inherit;
}

.carousel-control-prev {
  left: 12px;
}

.carousel-control-next {
  right: 12px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
  opacity: 1;
  width: 60px;
  height: 60px;
}

.news-detail-header-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cta-section::before {
  width: 150px;
  height: 150px;
}

.cta-section::after {
  bottom: -60px;
  width: 100px;
  height: 100px;
}

.cta-section .row {
  padding-top: 50px;
  padding-bottom: 50px;
}

.volunteer-section::after {
  width: 300px;
  height: 300px;
}

.testimonial-section::before {
  width: 150px;
  height: 150px;
}

.testimonial-section::after {
  width: 200px;
  height: 200px;
}

#testimonial-carousel .carousel-caption {
  padding-top: 0;
}

blockquote {
  padding: 70px 30px 30px 30px;
}

.about-image {
  width: inherit;
  height: 450px;
}

.volunteer-image {
  width: 250px;
  height: 250px;
  margin: 0;
}

.custom-text-block {
  padding: 20px 0 0 0;
}

.custom-text-box,
.volunteer-form {
  padding: 30px;
}

.counter-number, 
.counter-number-text {
  font-size: var(--h2-font-size);
}

.contact-info-wrap {
  padding-top: 0;
}

.site-footer {
  padding-top: 50px;
}

.copyright-text-wrap {
  justify-content: center;
}

.site-footer-bottom {
  text-align: center;
  margin-top: 50px;
}

.site-footer-bottom .footer-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}
}

@media screen and (max-width: 580px) {
.hero-section-full-height,
#hero-slide .carousel-item,
.carousel-image {
  min-height: 520px;
}

#hero-slide .carousel-caption {
  clip-path: polygon(100% 100%, 100% 100px, 0 100%);
  padding-right: 50px;
  min-width: inherit;
  min-height: inherit;
}
}

@media screen and (max-width: 480px) {
h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

#hero-slide .carousel-caption {
  min-width: inherit;
  padding-bottom: 30px;
}

.carousel-control-next-icon, 
.carousel-control-prev-icon {
  width: 45px;
  height: 45px;
}

.volunteer-image {
  width: 150px;
  height: 150px;
}

.volunteer-section::after {
  width: 200px;
  height: 200px;
}

.testimonial-section::before {
  top: -50px;
  width: 100px;
  height: 100px;
}

.testimonial-section::after {
  bottom: -150px;
  width: 200px;
  height: 200px;
}

.social-share .tags-block {
  margin-bottom: 10px;
}

.donate-form {
  padding: 25px;
}
}

