<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ajouter un utilisateur</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="../../asset/backoffice/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="../../asset/backoffice/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" href="../../asset/backoffice/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="../../asset/backoffice/css/tooplate.css">
</head>

<body class="bg02">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-xl navbar-light bg-light">
                    <a class="navbar-brand" href="accueilback.html">
                        <div class="logo">
                            <img src="../../asset/backoffice/img/logo.png" class="imglogo" alt="">
                       </div>
                    </a>
                    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="accueilback.html">Dashboard
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="accueilback.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Reports
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Daily Report</a>
                                    <a class="dropdown-item" href="#">Weekly Report</a>
                                    <a class="dropdown-item" href="accueilback.html">Yearly Report</a>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="products.html">Products</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="accounts.html">Accounts</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Settings
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Profile</a>
                                    <a class="dropdown-item" href="#">Billing</a>
                                    <a class="dropdown-item" href="#">Customize</a>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="chauffeur-back.html">Chauffeur</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link d-flex" href="login.html">
                                    <div class="hov"> <i class="far fa-user mr-2 tm-logout-icon" id="c1"></i>
                                     <span id="log">Logout</span></div>
                                 </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-mt-big">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
                <div class="bg-white tm-block">
                    


                    <section id="read2">
                        <table width="80%" style="margin: 0 auto; border-collapse: collapse; border: 2px solid black; background-color:transparent;color: aliceblue;">
                          <tr>
                            <td colspan="7" align="center" style="border-bottom: 2px solid black;">
                              <b id="mod">Trajet</b>
                            </td>
                          </tr>
                          <tr>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;"><b>Etat</b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;"><b>Année d'expérience</b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;"><b>Routes préférées</b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;"><b>Préférence de véhicule</b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;"><b>Compétences spéciales</b></td>
                    
                          </tr>
                          <tr style="border-top: 2px solid black;">
                            <td style="border-right: 2px solid black;">tunis</td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;">6
                            </td>
                            <td style="border-right: 2px solid black;">City routes</td>
                            <td style="border-right: 2px solid black;">SUV</td>
                            <td style="border-right: 2px solid black;">first aid</td>
                          </tr>

                          <tr style="border-top: 2px solid black;">
                            <td style="border-right: 2px solid black;"> </div></b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;">
                            </td>
                            <td style="border-right: 2px solid black;">ggg</td>
                            <td style="border-right: 2px solid black;">gg</td>
                            <td style="border-right: 2px solid black;">ggg</td>
                          </tr>
                          <tr style="border-top: 2px solid black;">
                            <td style="border-right: 2px solid black;"> </div></b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;">
                            </td>
                            <td style="border-right: 2px solid black;">ggg</td>
                            <td style="border-right: 2px solid black;">gg</td>
                            <td style="border-right: 2px solid black;">ggg</td>
                          </tr>
                          <tr style="border-top: 2px solid black;">
                            <td style="border-right: 2px solid black;"> </div></b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;">
                            </td>
                            <td style="border-right: 2px solid black;">ggg</td>
                            <td style="border-right: 2px solid black;">gg</td>
                            <td style="border-right: 2px solid black;">ggg</td>
                          </tr>
                          <tr style="border-top: 2px solid black;">
                            <td style="border-right: 2px solid black;"> </div></b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;">
                            </td>
                            <td style="border-right: 2px solid black;">ggg</td>
                            <td style="border-right: 2px solid black;">gg</td>
                            <td style="border-right: 2px solid black;">ggg</td>
                          </tr>
                          <tr style="border-top: 2px solid black;">
                            <td style="border-right: 2px solid black;"> </div></b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;">
                            </td>
                            <td style="border-right: 2px solid black;">ggg</td>
                            <td style="border-right: 2px solid black;">gg</td>
                            <td style="border-right: 2px solid black;">ggg</td>
                          </tr>
                          <tr style="border-top: 2px solid black;">
                            <td style="border-right: 2px solid black;"> </div></b></td>
                            <td align="center" width="16.67%" style="border-right: 2px solid black;">
                            </td>
                            <td style="border-right: 2px solid black;">ggg</td>
                            <td style="border-right: 2px solid black;">gg</td>
                            <td style="border-right: 2px solid black;">ggg</td>
                          </tr>
                        </table>
                      </section>




                </div>
            </div>
        </div>
        <footer class="row tm-mt-big">
            <div class="col-12 font-weight-light">
                <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                    Copyright &copy; 2023/2024 Esprit école sup privée
                </p>
            </div>
        </footer>
    </div>

    <script src="../../asset/backoffice/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="../../asset/backoffice/jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="../../asset/backoffice/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
        $(function () {
            $('#expire_date').datepicker();
        });
    </script>
</body>

</html>