<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">




<h4 class="m-3 mt-5 pt-3 border-top"> Table with table tag</h4>

<div class="table-content-table">
  <table class="w-100">
    
  <tr class="table-thead-tr">
    <th>Id</th>
    <th>Image</th>
    <th>Nom médicament</th> 
    <th class="th-actions">Actions</th>
  </tr>
    
  <tr class="table-tbody-tr">
    <td>
      <img src="https://plus.unsplash.com/premium_photo-1667824282674-04285eef14d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDU1fHhqUFI0aGxrQkdBfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">      
    </td>
    <td>Arroz de marisco</td>
    <td>10,00 €</td>
    <td>
       <button type="button" class="btn btn-primary">Lire</button>
      <button type="button" class="btn btn-secondary">Modifier</button>
      <button type="button" class="btn btn-success">Supprimer</button>
    </td>
  </tr>
</table>
</div>
<style>
  .table-flex {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  
  margin: 20px;
  padding: 10px;
  background: #F8F8F8;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
}
.tabel-thead, .table-tbody {
  display: flex;
  flex-flow: row nowrap; 
}

.td-img { /* firts item of cell */
  width: 120px;
}

.td {
  width: 150px; /* change fix value as needed */
}

.td-flex {
  display: flex;
  justify-content: center; 
  flex: 1 1 auto; /* fits according to space */
}

.td-last { /* Last item of cell */
  width: 280px; 
  display: flex;
  gap: 10px;
}

.tabel-thead {
  color: #7D7D7D;
  padding: 0px 10px;
}

.table-tbody {
  align-items: center;
}

.table-tbody {
  padding: 12px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
}


/* ---- image on row ----- */
img {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background: #000;
  object-fit: cover;
  overflow: hidden;
}



/* ++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++ with <table> +++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++ */

table {
  border-collapse: unset !important;
  border-spacing: 0px 10px;
}

.table-content-table {
  margin: 20px;
  padding: 0px 10px;
  background: #F8F8F8;
  border: 1px solid #F1F1F1;
  border-radius: 5px;
}

.th-actions {
  width: 300px; /* changes as needed */
  text-align: center;
}

.table-thead-tr th {
  color: #7D7D7D;
  font-weight: normal;
}

.table-tbody-tr td {
  background: #FFF; 
  border: 1px solid #FFF;
}

.table-tbody-tr td:first-child {
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: 130px;
}
.table-tbody-tr td:last-child {
  border-radius: 0 5px 5px 0;
  text-align: end;
  padding: 10px;
}
</style>