
    <link rel="stylesheet" href="../../asset/frontoffice/css/form_style.css">
    <body>
        <div id="container">
           <header id="hea">Nouveau compte</header>
           <form method="post" name="f" onsubmit="verifierChamps(event) ">
              <fieldset>
                 <br/>
                 <input type="text" name="username" id="nom" placeholder="Nom" >
                 <br/><br/>
                 <input type="text" name="username" id="pre" placeholder="Prenom"  >
                 <br/><br/>
                 <input type="email" name="email" id="email" placeholder="E-mail"  >
                 <br/><br/>
                 <input type="tel" name="tel" id="tel" placeholder="Telephone"  >
                 <br/><br/>
                 <input type="password" name="password" id="password" placeholder="Mot de passe"  >
                 <br/><br/>
                 <input type="password" name="confirm-password" id="motdepasse" placeholder="confirmer mot de passe"  >
                 <br/> <br/> <br/>
                 <input type="radio" name="x">Medecin
                 <input type="radio" name="x">Patient<br>
                 <input type="radio" name="x">Coach
                 <input type="radio" name="x">Chauffeur<br><br>

                 <label for="submit"></label>
                 <input type="submit" name="submit" id="submit" value="Enregistrer">
              </fieldset>
           </form>
        </div>
     </body>
     <script src="../../asset/frontoffice/js/controle.js"></script>

