
<link rel="stylesheet" href="../../asset/frontoffice/css/form_style.css">
<script src="../../asset/frontoffice/js/controle.js"></script>
    
<body>
    <div class="inscri">
       <header>se connecter</header>
       <form method="post" >
          <fieldset>
             <br/>

             <input type="email" name="email" id="email" placeholder="E-mail" required>
             <br/><br/><br><br>
             <input type="password" name="password" id="password" placeholder="Mot de passe" required>
             <br/><br/><br>
             <label for="submit"></label><br>
             <input type="submit" name="submit" id="submit" value="se connecter" click="">
          </fieldset>
       </form>
    </div>
 </body>